# Compute performance metrics for the given Y and Y_score without sklearn

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
a_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_a.csv')
b_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_b.csv')
c_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_c.csv')
d_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_d.csv')

In [4]:
a_data['y'].value_counts()

1.0    10000
0.0      100
Name: y, dtype: int64

In [6]:
def abc(x):
  if x<0.5:
    return 0
  else:
    return 1

In [7]:
a_data['y_pred']=a_data['proba']

In [8]:
a_data['y_pred']=a_data['y_pred'].apply(lambda x:abc(x))

In [9]:
a_data['y_pred'].value_counts()

1    10100
Name: y_pred, dtype: int64

F1 Score Implementation

In [10]:
def F1_score(a,b):
  precision_score=len(df[(a==1) & (b==1)])/len(df[b==1])
  recall=len(df[(a==1) & (b==1)])/len(df[a==1])
  F1=(2*precision_score*recall)/(precision_score+recall)
  return F1

In [11]:
df=a_data
a=a_data['y']
b=a_data['y_pred']
F1_score(a,b)

0.9950248756218906

Confusion Matrix Implementation

In [12]:
def confusion_matrix(a,b):
  s=np.zeros((2,2))
  for i in range(len(s)):  
    if i==0:
      for j in range(len(s[0])):
        if j==0:
          s[i][j]=len(df[(a==0) & (b==0)])  ##True negative
        elif j==1:
          s[i][j]=len(df[(a==1) & (b==0)])  ##False negative
    elif i==1:
      for j in range(len(s[0])):
        if j==0:
          s[i][j]=len(df[(a==0) & (b==1)])  ##False positive
        elif j==1:
          s[i][j]=len(df[(a==1) & (b==1)])  ##True positive
  return s

In [13]:
df=a_data
a=a_data['y']
b=a_data['y_pred']
confusion_matrix(a,b)

array([[    0.,     0.],
       [  100., 10000.]])

In [14]:
a_data

         y     proba  y_pred
0      1.0  0.637387       1
1      1.0  0.635165       1
2      1.0  0.766586       1
3      1.0  0.724564       1
4      1.0  0.889199       1
...    ...       ...     ...
10095  1.0  0.665371       1
10096  1.0  0.607961       1
10097  1.0  0.777724       1
10098  1.0  0.846036       1
10099  1.0  0.679507       1

[10100 rows x 3 columns]

In [ ]:
df=a_data
a=a_data['y']
b=a_data['y_pred']
c=a_data['proba']

In [ ]:
a_list=list(a)
b_list=list(b)
c_list=list(c)

ROC-AUC Implementation

In [ ]:
def roc_auc_score(Y_true,Y_score):
  tpr,fpr=[],[]
  for i in Y_score:
    a_data['Y_predict']=np.where(a_data['proba']<i,0,1)
    q=len(a_data[(a_data['y']==1) & (a_data['Y_predict']==1)])/len(a_data[a_data['y']==1])
    r=len(a_data[(a_data['y']==0) & (a_data['Y_predict']==1)])/len(a_data[a_data['y']==0])
    tpr.append(q)
    fpr.append(r)
    tpr_array=np.array(tpr)
    fpr_array=np.array(fpr)
  print(np.trapz(tpr_array, fpr_array))

In [ ]:
Y_true=a_data['y']
Y_true=list(Y_true)
Y_score=a_data['proba']
Y_score=sorted(Y_score,reverse=True)
roc_auc_score(Y_true,Y_score)

0.48829900000000004

In [ ]:
a_data['y'].value_counts()

1.0    10000
0.0      100
Name: y, dtype: int64

In [ ]:
def accuracy_score(a,b):
  accuracy=(len(df[(a==1) & (b==1)])+len(df[(a==0) & (b==0)])) /(len(df[a==1])+len(df[a==0]))
  return accuracy

In [ ]:
df=a_data
a=a_data['y']
b=a_data['y_pred']
accuracy_score(a,b)

0.9900990099009901

In [ ]:
len(a_data[(a_data['y']==1) & (a_data['y_pred']==1)])/len(a_data[a_data['y']==1])+len(a_data[a_data['y']==0])

In [ ]:
a_data['Y_predict'].value_counts()

1    10100
Name: Y_predict, dtype: int64

In [ ]:
c_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_c.csv')

In [ ]:
def best_threshold(Y_true,Y_score):   #Finding Best Threshold
  A=[]
  for i in Y_score:
    c_data['Y_predict']=np.where(c_data['prob']<i,0,1)
    metric=(500*(len(c_data[(c_data['y']==1) & (c_data['Y_predict']==0)])))+(100*(len(c_data[(c_data['y']==0) & (c_data['Y_predict']==1)])))
    A.append(metric)
    A_list=list(zip(A,Y_score))
    A_list=sorted(A_list)
    bst_threshold=A_list[0][1]

  return bst_threshold

In [ ]:
Y_true=c_data['y']
Y_true=list(Y_true)
Y_score=c_data['prob']
Y_score=sorted(Y_score,reverse=True)
best_threshold(Y_true,Y_score)

0.2300390278970873

In [ ]:
d_data=pd.read_csv('gdrive/My Drive/Colab Notebooks/5_d.csv')

In [ ]:
d_data

            y   pred
0       101.0  100.0
1       120.0  100.0
2       131.0  113.0
3       164.0  125.0
4       154.0  152.0
...       ...    ...
157195   87.0   83.0
157196   97.0   86.0
157197  106.0   93.0
157198  105.0  101.0
157199   81.0  104.0

[157200 rows x 2 columns]

In [ ]:
d_data_l=d_data[d_data['y']!=0]

In [ ]:
d_data_l.shape

(151483, 2)

In [ ]:
d_data.shape[0]

157200

In [ ]:
def mean_squared_error(a,b):
  return np.mean(np.square(a-b))

In [ ]:
df=d_data
a=d_data['y']
b=d_data['pred']
mean_squared_error(a,b)

177.16569974554707

In [ ]:
def mean_absolute_percentage_error(a,b):


  return ((np.abs((a-b)/a)).mean())*100

In [ ]:
df=d_data_l
a=d_data_l['y']
b=d_data_l['pred']
mean_absolute_percentage_error(a,b)

29.130987886510578

In [ ]:
def R_squared(a,b):
  y_mean=np.mean(a)
  c=((a-b)**2).sum()
  d=((a-y_mean)**2).sum()
  return (1-(c/d))

In [ ]:
df=d_data
a=d_data['y']
b=d_data['pred']
R_squared(a,b)

0.9563582786990937